<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <h1>Proyecto de programación avanzada</h1>
    </mat-toolbar-row>
</mat-toolbar>
<body>
<mat-nav-list>
    <a mat-list-item routerLink="/">Inicio</a>
    <a mat-list-item routerLink="/solictud-cuenta">Formulario</a>
    <a mat-list-item routerLink="/cuentas-en-revision">Cuentas nuevas por verificar</a>
    <a mat-list-item routerLink="/comprante-identidad">Verificar identidad de cuentas pre aprobadas</a>
</mat-nav-list>
</body>